/*
   domingo, 28 de octubre de 201223:04:02
   User: 
   Server: VP\SQLEXPRESS2008R2
   Database: LQCE
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.CARGA_PRESTACIONES_VETERINARIAS_DETALLE
	DROP CONSTRAINT FK_CARGA_PRESTACIONES_VETERINARIAS_DETALLE_CLIENTE
GO
ALTER TABLE dbo.CLIENTE SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.CLIENTE', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.CLIENTE', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.CLIENTE', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.CARGA_PRESTACIONES_VETERINARIAS_DETALLE
	DROP CONSTRAINT FK_CARGA_PRESTACIONES_VETERINARIAS_DETALLE_RAZA
GO
ALTER TABLE dbo.RAZA SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.RAZA', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.RAZA', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.RAZA', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.CARGA_PRESTACIONES_VETERINARIAS_DETALLE
	DROP CONSTRAINT FK_CARGA_PRESTACIONES_VETERINARIAS_DETALLE_ESPECIE
GO
ALTER TABLE dbo.ESPECIE SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.ESPECIE', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.ESPECIE', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.ESPECIE', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.CARGA_PRESTACIONES_VETERINARIAS_DETALLE
	DROP CONSTRAINT FK_CARGA_PRESTACIONES_VETERINARIAS_DETALLE_GARANTIA
GO
ALTER TABLE dbo.GARANTIA SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.GARANTIA', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.GARANTIA', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.GARANTIA', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.CARGA_PRESTACIONES_VETERINARIAS_DETALLE
	DROP CONSTRAINT FK_CARGA_PRESTACIONES_VETERINARIAS_DETALLE_PREVISION
GO
ALTER TABLE dbo.PREVISION SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.PREVISION', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.PREVISION', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.PREVISION', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.CARGA_PRESTACIONES_VETERINARIAS_DETALLE
	DROP CONSTRAINT FK_CARGA_PRESTACIONES_VETERINARIAS_DETALLE_CARGA_PRESTACIONES_DETALLE_ESTADO
GO
ALTER TABLE dbo.CARGA_PRESTACIONES_DETALLE_ESTADO SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.CARGA_PRESTACIONES_DETALLE_ESTADO', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.CARGA_PRESTACIONES_DETALLE_ESTADO', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.CARGA_PRESTACIONES_DETALLE_ESTADO', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.CARGA_PRESTACIONES_VETERINARIAS_DETALLE
	DROP CONSTRAINT FK_CARGA_PRESTACIONES_VETERINARIAS_DETALLE_CARGA_PRESTACIONES_ENCABEZADO
GO
ALTER TABLE dbo.CARGA_PRESTACIONES_ENCABEZADO SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.CARGA_PRESTACIONES_ENCABEZADO', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.CARGA_PRESTACIONES_ENCABEZADO', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.CARGA_PRESTACIONES_ENCABEZADO', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_CARGA_PRESTACIONES_VETERINARIAS_DETALLE
	(
	ID int NOT NULL IDENTITY (1, 1),
	ID_CARGA_PRESTACIONES_ENCABEZADO int NOT NULL,
	FICHA nvarchar(MAX) NULL,
	NOMBRE nvarchar(MAX) NULL,
	ESPECIE nvarchar(MAX) NULL,
	RAZA nvarchar(MAX) NULL,
	EDAD nvarchar(MAX) NULL,
	SEXO nvarchar(MAX) NULL,
	SOLICITA nvarchar(MAX) NULL,
	TELEFONO nvarchar(MAX) NULL,
	MEDICO nvarchar(MAX) NULL,
	PROCEDENCIA nvarchar(MAX) NULL,
	FECHA_RECEPCION nvarchar(MAX) NULL,
	HORA_RECEPCION nvarchar(MAX) NULL,
	FECHA_MUESTRA nvarchar(MAX) NULL,
	FECHA_RESULTADOS nvarchar(MAX) NULL,
	PENDIENTE nvarchar(MAX) NULL,
	GARANTIA nvarchar(MAX) NULL,
	PAGADO nvarchar(MAX) NULL,
	TOTAL nvarchar(MAX) NULL,
	FICHA_CLINICA nvarchar(MAX) NULL,
	RECEPCION nvarchar(MAX) NULL,
	ACTIVO bit NOT NULL,
	ID_CARGA_PRESTACIONES_DETALLE_ESTADO int NOT NULL,
	MENSAJE_ERROR nvarchar(MAX) NULL,
	FECHA_ACTUALIZACION datetime NOT NULL,
	VALOR_FICHA int NULL,
	VALOR_ID_CLIENTE int NULL,
	VALOR_FECHA_MUESTRA datetime NULL,
	VALOR_FECHA_RECEPCION datetime NULL,
	VALOR_ID_PREVISION int NULL,
	VALOR_ID_GARANTIA int NULL,
	VALOR_FECHA_ENTREGA_RESULTADOS datetime NULL,
	VALOR_ID_ESPECIE int NULL,
	VALOR_ID_RAZA int NULL,
	VALOR_FICHA_CLINICA int NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_CARGA_PRESTACIONES_VETERINARIAS_DETALLE SET (LOCK_ESCALATION = TABLE)
GO
SET IDENTITY_INSERT dbo.Tmp_CARGA_PRESTACIONES_VETERINARIAS_DETALLE ON
GO
IF EXISTS(SELECT * FROM dbo.CARGA_PRESTACIONES_VETERINARIAS_DETALLE)
	 EXEC('INSERT INTO dbo.Tmp_CARGA_PRESTACIONES_VETERINARIAS_DETALLE (ID, ID_CARGA_PRESTACIONES_ENCABEZADO, FICHA, NOMBRE, ESPECIE, RAZA, EDAD, SEXO, SOLICITA, TELEFONO, MEDICO, PROCEDENCIA, FECHA_RECEPCION, FECHA_MUESTRA, FECHA_RESULTADOS, PENDIENTE, GARANTIA, PAGADO, TOTAL, FICHA_CLINICA, RECEPCION, ACTIVO, ID_CARGA_PRESTACIONES_DETALLE_ESTADO, MENSAJE_ERROR, FECHA_ACTUALIZACION, VALOR_FICHA, VALOR_ID_CLIENTE, VALOR_FECHA_MUESTRA, VALOR_FECHA_RECEPCION, VALOR_ID_PREVISION, VALOR_ID_GARANTIA, VALOR_FECHA_ENTREGA_RESULTADOS, VALOR_ID_ESPECIE, VALOR_ID_RAZA, VALOR_FICHA_CLINICA)
		SELECT ID, ID_CARGA_PRESTACIONES_ENCABEZADO, FICHA, NOMBRE, ESPECIE, RAZA, EDAD, SEXO, SOLICITA, TELEFONO, MEDICO, PROCEDENCIA, FECHA_RECEPCION, FECHA_MUESTRA, FECHA_RESULTADOS, PENDIENTE, GARANTIA, PAGADO, TOTAL, FICHA_CLINICA, RECEPCION, ACTIVO, ID_CARGA_PRESTACIONES_DETALLE_ESTADO, MENSAJE_ERROR, FECHA_ACTUALIZACION, VALOR_FICHA, VALOR_ID_CLIENTE, VALOR_FECHA_MUESTRA, VALOR_FECHA_RECEPCION, VALOR_ID_PREVISION, VALOR_ID_GARANTIA, VALOR_FECHA_ENTREGA_RESULTADOS, VALOR_ID_ESPECIE, VALOR_ID_RAZA, VALOR_FICHA_CLINICA FROM dbo.CARGA_PRESTACIONES_VETERINARIAS_DETALLE WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_CARGA_PRESTACIONES_VETERINARIAS_DETALLE OFF
GO
ALTER TABLE dbo.CARGA_PRESTACIONES_VETERINARIAS_EXAMEN
	DROP CONSTRAINT FK_CARGA_PRESTACIONES_VETERINARIAS_EXAMEN_CARGA_PRESTACIONES_VETERINARIAS_DETALLE
GO
DROP TABLE dbo.CARGA_PRESTACIONES_VETERINARIAS_DETALLE
GO
EXECUTE sp_rename N'dbo.Tmp_CARGA_PRESTACIONES_VETERINARIAS_DETALLE', N'CARGA_PRESTACIONES_VETERINARIAS_DETALLE', 'OBJECT' 
GO
ALTER TABLE dbo.CARGA_PRESTACIONES_VETERINARIAS_DETALLE ADD CONSTRAINT
	PK_CARGA_PRESTACIONES_VETERINARIAS_DETALLE PRIMARY KEY CLUSTERED 
	(
	ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.CARGA_PRESTACIONES_VETERINARIAS_DETALLE ADD CONSTRAINT
	FK_CARGA_PRESTACIONES_VETERINARIAS_DETALLE_CARGA_PRESTACIONES_ENCABEZADO FOREIGN KEY
	(
	ID_CARGA_PRESTACIONES_ENCABEZADO
	) REFERENCES dbo.CARGA_PRESTACIONES_ENCABEZADO
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.CARGA_PRESTACIONES_VETERINARIAS_DETALLE ADD CONSTRAINT
	FK_CARGA_PRESTACIONES_VETERINARIAS_DETALLE_CARGA_PRESTACIONES_DETALLE_ESTADO FOREIGN KEY
	(
	ID_CARGA_PRESTACIONES_DETALLE_ESTADO
	) REFERENCES dbo.CARGA_PRESTACIONES_DETALLE_ESTADO
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.CARGA_PRESTACIONES_VETERINARIAS_DETALLE ADD CONSTRAINT
	FK_CARGA_PRESTACIONES_VETERINARIAS_DETALLE_PREVISION FOREIGN KEY
	(
	VALOR_ID_PREVISION
	) REFERENCES dbo.PREVISION
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.CARGA_PRESTACIONES_VETERINARIAS_DETALLE ADD CONSTRAINT
	FK_CARGA_PRESTACIONES_VETERINARIAS_DETALLE_GARANTIA FOREIGN KEY
	(
	VALOR_ID_GARANTIA
	) REFERENCES dbo.GARANTIA
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.CARGA_PRESTACIONES_VETERINARIAS_DETALLE ADD CONSTRAINT
	FK_CARGA_PRESTACIONES_VETERINARIAS_DETALLE_ESPECIE FOREIGN KEY
	(
	VALOR_ID_ESPECIE
	) REFERENCES dbo.ESPECIE
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.CARGA_PRESTACIONES_VETERINARIAS_DETALLE ADD CONSTRAINT
	FK_CARGA_PRESTACIONES_VETERINARIAS_DETALLE_RAZA FOREIGN KEY
	(
	VALOR_ID_RAZA
	) REFERENCES dbo.RAZA
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.CARGA_PRESTACIONES_VETERINARIAS_DETALLE ADD CONSTRAINT
	FK_CARGA_PRESTACIONES_VETERINARIAS_DETALLE_CLIENTE FOREIGN KEY
	(
	VALOR_ID_CLIENTE
	) REFERENCES dbo.CLIENTE
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
select Has_Perms_By_Name(N'dbo.CARGA_PRESTACIONES_VETERINARIAS_DETALLE', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.CARGA_PRESTACIONES_VETERINARIAS_DETALLE', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.CARGA_PRESTACIONES_VETERINARIAS_DETALLE', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.CARGA_PRESTACIONES_VETERINARIAS_EXAMEN ADD CONSTRAINT
	FK_CARGA_PRESTACIONES_VETERINARIAS_EXAMEN_CARGA_PRESTACIONES_VETERINARIAS_DETALLE FOREIGN KEY
	(
	ID_CARGA_PRESTACIONES_VETERINARIAS_DETALLE
	) REFERENCES dbo.CARGA_PRESTACIONES_VETERINARIAS_DETALLE
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.CARGA_PRESTACIONES_VETERINARIAS_EXAMEN SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.CARGA_PRESTACIONES_VETERINARIAS_EXAMEN', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.CARGA_PRESTACIONES_VETERINARIAS_EXAMEN', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.CARGA_PRESTACIONES_VETERINARIAS_EXAMEN', 'Object', 'CONTROL') as Contr_Per 