/*
   lunes, 29 de octubre de 20127:42:46
   User: 
   Server: VP\SQLEXPRESS2008R2
   Database: LQCE
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.PRESTACION_VETERINARIA
	DROP CONSTRAINT FK_PRESTACION_VETERINARIA_PRESTACION
GO
ALTER TABLE dbo.PRESTACION SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.PRESTACION', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.PRESTACION', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.PRESTACION', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.PRESTACION_VETERINARIA
	DROP CONSTRAINT FK_PRESTACION_VETERINARIA_ESPECIE
GO
ALTER TABLE dbo.ESPECIE SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.ESPECIE', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.ESPECIE', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.ESPECIE', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.PRESTACION_VETERINARIA
	DROP CONSTRAINT FK_PRESTACION_VETERINARIA_RAZA
GO
ALTER TABLE dbo.RAZA SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.RAZA', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.RAZA', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.RAZA', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_PRESTACION_VETERINARIA
	(
	ID int NOT NULL,
	NOMBRE nvarchar(MAX) NOT NULL,
	EDAD nvarchar(50) NULL,
	TELEFONO nvarchar(50) NULL,
	ID_ESPECIE int NOT NULL,
	ID_RAZA int NULL,
	SEXO nvarchar(MAX) NULL,
	ACTIVO bit NOT NULL,
	FICHA_CLINICA int NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_PRESTACION_VETERINARIA SET (LOCK_ESCALATION = TABLE)
GO
IF EXISTS(SELECT * FROM dbo.PRESTACION_VETERINARIA)
	 EXEC('INSERT INTO dbo.Tmp_PRESTACION_VETERINARIA (ID, NOMBRE, EDAD, TELEFONO, ID_ESPECIE, ID_RAZA, ACTIVO, FICHA_CLINICA)
		SELECT ID, NOMBRE, EDAD, TELEFONO, ID_ESPECIE, ID_RAZA, ACTIVO, FICHA_CLINICA FROM dbo.PRESTACION_VETERINARIA WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.PRESTACION_VETERINARIA
GO
EXECUTE sp_rename N'dbo.Tmp_PRESTACION_VETERINARIA', N'PRESTACION_VETERINARIA', 'OBJECT' 
GO
ALTER TABLE dbo.PRESTACION_VETERINARIA ADD CONSTRAINT
	PK_PRESTACION_VETERINARIA PRIMARY KEY CLUSTERED 
	(
	ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.PRESTACION_VETERINARIA ADD CONSTRAINT
	FK_PRESTACION_VETERINARIA_RAZA FOREIGN KEY
	(
	ID_RAZA
	) REFERENCES dbo.RAZA
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.PRESTACION_VETERINARIA ADD CONSTRAINT
	FK_PRESTACION_VETERINARIA_ESPECIE FOREIGN KEY
	(
	ID_ESPECIE
	) REFERENCES dbo.ESPECIE
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.PRESTACION_VETERINARIA ADD CONSTRAINT
	FK_PRESTACION_VETERINARIA_PRESTACION FOREIGN KEY
	(
	ID
	) REFERENCES dbo.PRESTACION
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
select Has_Perms_By_Name(N'dbo.PRESTACION_VETERINARIA', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.PRESTACION_VETERINARIA', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.PRESTACION_VETERINARIA', 'Object', 'CONTROL') as Contr_Per 