/*
   sábado, 13 de octubre de 201217:50:57
   User: 
   Server: VP\SQLEXPRESS2008R2
   Database: LQCE
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.PRESTACION
	DROP CONSTRAINT FK_PRESTACION_TIPO_PRESTACION
GO
ALTER TABLE dbo.TIPO_PRESTACION SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.TIPO_PRESTACION', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.TIPO_PRESTACION', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.TIPO_PRESTACION', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.PRESTACION
	DROP CONSTRAINT FK_PRESTACION_CLIENTE
GO
ALTER TABLE dbo.CLIENTE SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.CLIENTE', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.CLIENTE', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.CLIENTE', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.PRESTACION
	DROP CONSTRAINT FK_PRESTACION_GARANTIA
GO
ALTER TABLE dbo.GARANTIA SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.GARANTIA', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.GARANTIA', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.GARANTIA', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.PRESTACION
	DROP CONSTRAINT FK_PRESTACION_PREVISION
GO
ALTER TABLE dbo.PREVISION SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.PREVISION', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.PREVISION', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.PREVISION', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_PRESTACION
	(
	ID int NOT NULL,
	ID_TIPO_PRESTACION int NOT NULL,
	MEDICO nvarchar(MAX) NOT NULL,
	ID_CLIENTE int NOT NULL,
	FECHA_MUESTRA datetime NULL,
	FECHA_RECEPCION datetime NOT NULL,
	ID_PREVISION int NULL,
	ID_GARANTIA int NULL,
	FECHA_ENTREGA_RESULTADOS datetime NULL,
	ACTIVO bit NOT NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_PRESTACION SET (LOCK_ESCALATION = TABLE)
GO
IF EXISTS(SELECT * FROM dbo.PRESTACION)
	 EXEC('INSERT INTO dbo.Tmp_PRESTACION (ID, ID_TIPO_PRESTACION, MEDICO, ID_CLIENTE, FECHA_MUESTRA, FECHA_RECEPCION, ID_PREVISION, ID_GARANTIA, FECHA_ENTREGA_RESULTADOS, ACTIVO)
		SELECT ID, ID_TIPO_PRESTACION, MEDICO, ID_CLIENTE, FECHA_MUESTRA, FECHA_RECEPCION, ID_PREVISION, ID_GARANTIA, FECHA_ENTREGA_RESULTADOS, ACTIVO FROM dbo.PRESTACION WITH (HOLDLOCK TABLOCKX)')
GO
ALTER TABLE dbo.FACTURA_DETALLE
	DROP CONSTRAINT FK_FACTURA_DETALLE_PRESTACION
GO
ALTER TABLE dbo.PRESTACION_EXAMEN
	DROP CONSTRAINT FK_PRESTACION_EXAMEN_PRESTACION
GO
ALTER TABLE dbo.PRESTACION_EXAMEN
	DROP CONSTRAINT FK_PRESTACION_EXAMEN_PRESTACION1
GO
ALTER TABLE dbo.PRESTACION_MUESTRA
	DROP CONSTRAINT FK_PRESTACION_MUESTRA_PRESTACION
GO
ALTER TABLE dbo.PRESTACION_VETERINARIA
	DROP CONSTRAINT FK_PRESTACION_VETERINARIA_PRESTACION
GO
ALTER TABLE dbo.PRESTACION_HUMANA
	DROP CONSTRAINT FK_PRESTACION_HUMANA_PRESTACION
GO
DROP TABLE dbo.PRESTACION
GO
EXECUTE sp_rename N'dbo.Tmp_PRESTACION', N'PRESTACION', 'OBJECT' 
GO
ALTER TABLE dbo.PRESTACION ADD CONSTRAINT
	PK_PRESTACION PRIMARY KEY CLUSTERED 
	(
	ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.PRESTACION ADD CONSTRAINT
	FK_PRESTACION_PREVISION FOREIGN KEY
	(
	ID_PREVISION
	) REFERENCES dbo.PREVISION
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.PRESTACION ADD CONSTRAINT
	FK_PRESTACION_GARANTIA FOREIGN KEY
	(
	ID_GARANTIA
	) REFERENCES dbo.GARANTIA
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.PRESTACION ADD CONSTRAINT
	FK_PRESTACION_CLIENTE FOREIGN KEY
	(
	ID_CLIENTE
	) REFERENCES dbo.CLIENTE
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.PRESTACION ADD CONSTRAINT
	FK_PRESTACION_TIPO_PRESTACION FOREIGN KEY
	(
	ID_TIPO_PRESTACION
	) REFERENCES dbo.TIPO_PRESTACION
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
select Has_Perms_By_Name(N'dbo.PRESTACION', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.PRESTACION', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.PRESTACION', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.PRESTACION_HUMANA ADD CONSTRAINT
	FK_PRESTACION_HUMANA_PRESTACION FOREIGN KEY
	(
	ID
	) REFERENCES dbo.PRESTACION
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.PRESTACION_HUMANA SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.PRESTACION_HUMANA', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.PRESTACION_HUMANA', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.PRESTACION_HUMANA', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.PRESTACION_VETERINARIA ADD CONSTRAINT
	FK_PRESTACION_VETERINARIA_PRESTACION FOREIGN KEY
	(
	ID
	) REFERENCES dbo.PRESTACION
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.PRESTACION_VETERINARIA SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.PRESTACION_VETERINARIA', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.PRESTACION_VETERINARIA', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.PRESTACION_VETERINARIA', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.PRESTACION_MUESTRA ADD CONSTRAINT
	FK_PRESTACION_MUESTRA_PRESTACION FOREIGN KEY
	(
	NUMERO_FICHA
	) REFERENCES dbo.PRESTACION
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.PRESTACION_MUESTRA SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.PRESTACION_MUESTRA', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.PRESTACION_MUESTRA', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.PRESTACION_MUESTRA', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.PRESTACION_EXAMEN ADD CONSTRAINT
	FK_PRESTACION_EXAMEN_PRESTACION FOREIGN KEY
	(
	NUMERO_FICHA
	) REFERENCES dbo.PRESTACION
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.PRESTACION_EXAMEN ADD CONSTRAINT
	FK_PRESTACION_EXAMEN_PRESTACION1 FOREIGN KEY
	(
	NUMERO_FICHA
	) REFERENCES dbo.PRESTACION
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.PRESTACION_EXAMEN SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.PRESTACION_EXAMEN', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.PRESTACION_EXAMEN', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.PRESTACION_EXAMEN', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.FACTURA_DETALLE ADD CONSTRAINT
	FK_FACTURA_DETALLE_PRESTACION FOREIGN KEY
	(
	NUMERO_FICHA
	) REFERENCES dbo.PRESTACION
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.FACTURA_DETALLE SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.FACTURA_DETALLE', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.FACTURA_DETALLE', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.FACTURA_DETALLE', 'Object', 'CONTROL') as Contr_Per 