/*
   jueves, 23 de agosto de 20129:48:22
   Usuario: 
   Servidor: SVASQUEZ\SQLEXPRESS
   Base de datos: LQCE
   Aplicación: 
*/

/* Para evitar posibles problemas de pérdida de datos, debe revisar este script detalladamente antes de ejecutarlo fuera del contexto del diseñador de base de datos.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_TIPO_PRESTACION
	(
	ID int NOT NULL,
	NOMBRE nvarchar(50) NOT NULL,
	ACTIVO bit NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_TIPO_PRESTACION SET (LOCK_ESCALATION = TABLE)
GO
IF EXISTS(SELECT * FROM dbo.TIPO_PRESTACION)
	 EXEC('INSERT INTO dbo.Tmp_TIPO_PRESTACION (ID, NOMBRE, ACTIVO)
		SELECT ID, NOMBRE, ACTIVO FROM dbo.TIPO_PRESTACION WITH (HOLDLOCK TABLOCKX)')
GO
ALTER TABLE dbo.EXAMEN
	DROP CONSTRAINT FK_EXAMEN_TIPO_PRESTACION
GO
ALTER TABLE dbo.CONVENIO
	DROP CONSTRAINT FK_CONVENIO_TIPO_PRESTACION
GO
ALTER TABLE dbo.CLIENTE
	DROP CONSTRAINT FK_CLIENTE_TIPO_PRESTACION
GO
ALTER TABLE dbo.PRESTACION
	DROP CONSTRAINT FK_PRESTACION_TIPO_PRESTACION
GO
DROP TABLE dbo.TIPO_PRESTACION
GO
EXECUTE sp_rename N'dbo.Tmp_TIPO_PRESTACION', N'TIPO_PRESTACION', 'OBJECT' 
GO
ALTER TABLE dbo.TIPO_PRESTACION ADD CONSTRAINT
	PK_TIPO_PRESTACION PRIMARY KEY CLUSTERED 
	(
	ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
COMMIT
select Has_Perms_By_Name(N'dbo.TIPO_PRESTACION', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.TIPO_PRESTACION', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.TIPO_PRESTACION', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.PRESTACION ADD CONSTRAINT
	FK_PRESTACION_TIPO_PRESTACION FOREIGN KEY
	(
	ID_TIPO_PRESTACION
	) REFERENCES dbo.TIPO_PRESTACION
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.PRESTACION SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.PRESTACION', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.PRESTACION', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.PRESTACION', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.CLIENTE ADD CONSTRAINT
	FK_CLIENTE_TIPO_PRESTACION FOREIGN KEY
	(
	ID_TIPO_PRESTACION
	) REFERENCES dbo.TIPO_PRESTACION
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.CLIENTE SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.CLIENTE', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.CLIENTE', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.CLIENTE', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.CONVENIO ADD CONSTRAINT
	FK_CONVENIO_TIPO_PRESTACION FOREIGN KEY
	(
	ID_TIPO_PRESTACION
	) REFERENCES dbo.TIPO_PRESTACION
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.CONVENIO SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.CONVENIO', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.CONVENIO', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.CONVENIO', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.EXAMEN ADD CONSTRAINT
	FK_EXAMEN_TIPO_PRESTACION FOREIGN KEY
	(
	ID_TIPO_PRESTACION
	) REFERENCES dbo.TIPO_PRESTACION
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.EXAMEN SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.EXAMEN', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.EXAMEN', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.EXAMEN', 'Object', 'CONTROL') as Contr_Per 