/*
   jueves, 23 de agosto de 201212:38:53
   Usuario: 
   Servidor: SVASQUEZ\SQLEXPRESS
   Base de datos: LQCE
   Aplicación: 
*/

/* Para evitar posibles problemas de pérdida de datos, debe revisar este script detalladamente antes de ejecutarlo fuera del contexto del diseñador de base de datos.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_CARGA_PRESTACIONES_ENCABEZADO
	(
	ID int NOT NULL IDENTITY (1, 1),
	FECHA_CARGA datetime NOT NULL,
	ID_TIPO_PRESTACION int NOT NULL,
	ARCHIVO nvarchar(MAX) NOT NULL,
	ACTIVO bit NOT NULL,
	ID_CARGA_PRESTACIONES_ESTADO int NOT NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_CARGA_PRESTACIONES_ENCABEZADO SET (LOCK_ESCALATION = TABLE)
GO
SET IDENTITY_INSERT dbo.Tmp_CARGA_PRESTACIONES_ENCABEZADO ON
GO
IF EXISTS(SELECT * FROM dbo.CARGA_PRESTACIONES_ENCABEZADO)
	 EXEC('INSERT INTO dbo.Tmp_CARGA_PRESTACIONES_ENCABEZADO (ID, FECHA_CARGA, ID_TIPO_PRESTACION, ARCHIVO, ACTIVO)
		SELECT ID, FECHA_CARGA, ID_TIPO_PRESTACION, ARCHIVO, ACTIVO FROM dbo.CARGA_PRESTACIONES_ENCABEZADO WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_CARGA_PRESTACIONES_ENCABEZADO OFF
GO
ALTER TABLE dbo.CARGA_PRESTACIONES_VETERINARIAS_DETALLE
	DROP CONSTRAINT FK_CARGA_PRESTACIONES_VETERINARIAS_DETALLE_CARGA_PRESTACIONES_ENCABEZADO
GO
ALTER TABLE dbo.CARGA_PRESTACIONES_HUMANAS_DETALLE
	DROP CONSTRAINT FK_CARGA_PRESTACIONES_HUMANAS_DETALLE_CARGA_PRESTACIONES_ENCABEZADO
GO
DROP TABLE dbo.CARGA_PRESTACIONES_ENCABEZADO
GO
EXECUTE sp_rename N'dbo.Tmp_CARGA_PRESTACIONES_ENCABEZADO', N'CARGA_PRESTACIONES_ENCABEZADO', 'OBJECT' 
GO
ALTER TABLE dbo.CARGA_PRESTACIONES_ENCABEZADO ADD CONSTRAINT
	PK_CARGA_PRESTACIONES_ENCABEZADO PRIMARY KEY CLUSTERED 
	(
	ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
COMMIT
select Has_Perms_By_Name(N'dbo.CARGA_PRESTACIONES_ENCABEZADO', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.CARGA_PRESTACIONES_ENCABEZADO', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.CARGA_PRESTACIONES_ENCABEZADO', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.CARGA_PRESTACIONES_HUMANAS_DETALLE ADD CONSTRAINT
	FK_CARGA_PRESTACIONES_HUMANAS_DETALLE_CARGA_PRESTACIONES_ENCABEZADO FOREIGN KEY
	(
	ID_CARGA_PRESTACIONES_ENCABEZADO
	) REFERENCES dbo.CARGA_PRESTACIONES_ENCABEZADO
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.CARGA_PRESTACIONES_HUMANAS_DETALLE SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.CARGA_PRESTACIONES_HUMANAS_DETALLE', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.CARGA_PRESTACIONES_HUMANAS_DETALLE', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.CARGA_PRESTACIONES_HUMANAS_DETALLE', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.CARGA_PRESTACIONES_VETERINARIAS_DETALLE ADD CONSTRAINT
	FK_CARGA_PRESTACIONES_VETERINARIAS_DETALLE_CARGA_PRESTACIONES_ENCABEZADO FOREIGN KEY
	(
	ID_CARGA_PRESTACIONES_ENCABEZADO
	) REFERENCES dbo.CARGA_PRESTACIONES_ENCABEZADO
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.CARGA_PRESTACIONES_VETERINARIAS_DETALLE SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.CARGA_PRESTACIONES_VETERINARIAS_DETALLE', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.CARGA_PRESTACIONES_VETERINARIAS_DETALLE', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.CARGA_PRESTACIONES_VETERINARIAS_DETALLE', 'Object', 'CONTROL') as Contr_Per 