/*
   miércoles, 05 de septiembre de 201223:08:43
   Usuario: 
   Servidor: SVASQUEZ\SQLEXPRESS
   Base de datos: LQCE
   Aplicación: 
*/

/* Para evitar posibles problemas de pérdida de datos, debe revisar este script detalladamente antes de ejecutarlo fuera del contexto del diseñador de base de datos.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.FACTURA
	DROP CONSTRAINT FK_FACTURA_FACTURACION
GO
ALTER TABLE dbo.FACTURACION SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.FACTURACION', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.FACTURACION', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.FACTURACION', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.FACTURA
	DROP CONSTRAINT FK_FACTURA_CLIENTE
GO
ALTER TABLE dbo.CLIENTE ADD
	DIRECCION nvarchar(MAX) NULL,
	FONO nvarchar(MAX) NULL,
	GIRO nvarchar(MAX) NULL
GO
ALTER TABLE dbo.CLIENTE SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.CLIENTE', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.CLIENTE', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.CLIENTE', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_FACTURA
	(
	ID int NOT NULL IDENTITY (1, 1),
	ID_FACTURACION int NOT NULL,
	CORRELATIVO int NOT NULL,
	ID_CLIENTE int NOT NULL,
	NOMBRE_CLIENTE nvarchar(50) NULL,
	RUT_CLIENTE nvarchar(50) NULL,
	DIRECCION nvarchar(MAX) NULL,
	NOMBRE_COMUNA nvarchar(MAX) NULL,
	NUMERO_FACTURA int NULL,
	RUT_LABORATORIO nvarchar(50) NOT NULL,
	ACTIVO bit NOT NULL,
	DESCUENTO int NULL,
	FONO nvarchar(MAX) NULL,
	GIRO nvarchar(MAX) NULL,
	DETALLE nvarchar(MAX) NULL,
	NETO int NOT NULL,
	IVA int NOT NULL,
	TOTAL int NOT NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_FACTURA SET (LOCK_ESCALATION = TABLE)
GO
SET IDENTITY_INSERT dbo.Tmp_FACTURA ON
GO
IF EXISTS(SELECT * FROM dbo.FACTURA)
	 EXEC('INSERT INTO dbo.Tmp_FACTURA (ID, ID_FACTURACION, CORRELATIVO, ID_CLIENTE, NUMERO_FACTURA, RUT_LABORATORIO, ACTIVO, DESCUENTO)
		SELECT ID, ID_FACTURACION, CORRELATIVO, ID_CLIENTE, NUMERO_FACTURA, RUT_LABORATORIO, ACTIVO, DESCUENTO FROM dbo.FACTURA WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_FACTURA OFF
GO
ALTER TABLE dbo.FACTURA_DETALLE
	DROP CONSTRAINT FK_FACTURA_DETALLE_FACTURA
GO
ALTER TABLE dbo.NOTA_COBRO_DETALLE
	DROP CONSTRAINT FK_NOTA_COBRO_DETALLE_FACTURA
GO
DROP TABLE dbo.FACTURA
GO
EXECUTE sp_rename N'dbo.Tmp_FACTURA', N'FACTURA', 'OBJECT' 
GO
ALTER TABLE dbo.FACTURA ADD CONSTRAINT
	PK_FACTURA PRIMARY KEY CLUSTERED 
	(
	ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.FACTURA ADD CONSTRAINT
	FK_FACTURA_FACTURACION FOREIGN KEY
	(
	ID_FACTURACION
	) REFERENCES dbo.FACTURACION
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.FACTURA ADD CONSTRAINT
	FK_FACTURA_CLIENTE FOREIGN KEY
	(
	ID_CLIENTE
	) REFERENCES dbo.CLIENTE
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
select Has_Perms_By_Name(N'dbo.FACTURA', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.FACTURA', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.FACTURA', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.NOTA_COBRO_DETALLE ADD CONSTRAINT
	FK_NOTA_COBRO_DETALLE_FACTURA FOREIGN KEY
	(
	ID_FACTURA
	) REFERENCES dbo.FACTURA
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.NOTA_COBRO_DETALLE SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.NOTA_COBRO_DETALLE', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.NOTA_COBRO_DETALLE', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.NOTA_COBRO_DETALLE', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.FACTURA_DETALLE ADD CONSTRAINT
	FK_FACTURA_DETALLE_FACTURA FOREIGN KEY
	(
	ID_FACTURA
	) REFERENCES dbo.FACTURA
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.FACTURA_DETALLE SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.FACTURA_DETALLE', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.FACTURA_DETALLE', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.FACTURA_DETALLE', 'Object', 'CONTROL') as Contr_Per 