/*
   domingo, 09 de septiembre de 201217:26:03
   User: 
   Server: VP\SQLEXPRESS2008R2
   Database: LQCE
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_TIPO_FACTURA
	(
	ID int NOT NULL IDENTITY (1, 1),
	RUT_FACTURA nvarchar(50) NOT NULL,
	NOMBRE_FACTURA nvarchar(MAX) NOT NULL,
	AFECTO_IVA bit NOT NULL,
	NOMBRE_REPORTE_FACTURA nvarchar(MAX) NOT NULL,
	ACTIVO bit NOT NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_TIPO_FACTURA SET (LOCK_ESCALATION = TABLE)
GO
SET IDENTITY_INSERT dbo.Tmp_TIPO_FACTURA ON
GO
IF EXISTS(SELECT * FROM dbo.TIPO_FACTURA)
	 EXEC('INSERT INTO dbo.Tmp_TIPO_FACTURA (ID, RUT_FACTURA, NOMBRE_FACTURA, AFECTO_IVA, ACTIVO)
		SELECT ID, RUT_FACTURA, NOMBRE_FACTURA, AFECTO_IVA, ACTIVO FROM dbo.TIPO_FACTURA WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_TIPO_FACTURA OFF
GO
ALTER TABLE dbo.FACTURA
	DROP CONSTRAINT FK_FACTURA_TIPO_FACTURA
GO
ALTER TABLE dbo.CLIENTE
	DROP CONSTRAINT FK_CLIENTE_TIPO_FACTURA
GO
DROP TABLE dbo.TIPO_FACTURA
GO
EXECUTE sp_rename N'dbo.Tmp_TIPO_FACTURA', N'TIPO_FACTURA', 'OBJECT' 
GO
ALTER TABLE dbo.TIPO_FACTURA ADD CONSTRAINT
	PK_TIPO_FACTURA PRIMARY KEY CLUSTERED 
	(
	ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
COMMIT
select Has_Perms_By_Name(N'dbo.TIPO_FACTURA', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.TIPO_FACTURA', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.TIPO_FACTURA', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.CLIENTE ADD CONSTRAINT
	FK_CLIENTE_TIPO_FACTURA FOREIGN KEY
	(
	ID_TIPO_FACTURA
	) REFERENCES dbo.TIPO_FACTURA
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.CLIENTE SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.CLIENTE', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.CLIENTE', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.CLIENTE', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.FACTURA ADD CONSTRAINT
	FK_FACTURA_TIPO_FACTURA FOREIGN KEY
	(
	ID_TIPO_FACTURA
	) REFERENCES dbo.TIPO_FACTURA
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.FACTURA SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.FACTURA', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.FACTURA', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.FACTURA', 'Object', 'CONTROL') as Contr_Per 