/*
   lunes, 29 de octubre de 20126:23:55
   User: 
   Server: VP\SQLEXPRESS2008R2
   Database: LQCE
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.CARGA_PRESTACIONES_VETERINARIAS_DETALLE
	DROP COLUMN HORA_RECEPCION
GO
ALTER TABLE dbo.CARGA_PRESTACIONES_VETERINARIAS_DETALLE SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.CARGA_PRESTACIONES_VETERINARIAS_DETALLE', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.CARGA_PRESTACIONES_VETERINARIAS_DETALLE', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.CARGA_PRESTACIONES_VETERINARIAS_DETALLE', 'Object', 'CONTROL') as Contr_Per 