/*
   miércoles, 05 de septiembre de 201215:48:42
   Usuario: 
   Servidor: SVASQUEZ\SQLEXPRESS
   Base de datos: LQCE
   Aplicación: 
*/

/* Para evitar posibles problemas de pérdida de datos, debe revisar este script detalladamente antes de ejecutarlo fuera del contexto del diseñador de base de datos.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_TIPO_COBRO
	(
	ID int NOT NULL,
	NOMBRE nvarchar(50) NOT NULL,
	ACTIVO bit NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_TIPO_COBRO SET (LOCK_ESCALATION = TABLE)
GO
IF EXISTS(SELECT * FROM dbo.TIPO_COBRO)
	 EXEC('INSERT INTO dbo.Tmp_TIPO_COBRO (ID, NOMBRE, ACTIVO)
		SELECT ID, NOMBRE, ACTIVO FROM dbo.TIPO_COBRO WITH (HOLDLOCK TABLOCKX)')
GO
ALTER TABLE dbo.COBRO
	DROP CONSTRAINT FK_COBRO_TIPO_COBRO
GO
DROP TABLE dbo.TIPO_COBRO
GO
EXECUTE sp_rename N'dbo.Tmp_TIPO_COBRO', N'TIPO_COBRO', 'OBJECT' 
GO
ALTER TABLE dbo.TIPO_COBRO ADD CONSTRAINT
	PK_TIPO_COBRO PRIMARY KEY CLUSTERED 
	(
	ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
COMMIT
select Has_Perms_By_Name(N'dbo.TIPO_COBRO', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.TIPO_COBRO', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.TIPO_COBRO', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.COBRO ADD CONSTRAINT
	FK_COBRO_TIPO_COBRO FOREIGN KEY
	(
	ID_TIPO_COBRO
	) REFERENCES dbo.TIPO_COBRO
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.COBRO SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.COBRO', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.COBRO', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.COBRO', 'Object', 'CONTROL') as Contr_Per 