<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
    <section name="LQCE.Transaccion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
  <connectionStrings>
    <add name="LQCEEntities" connectionString="metadata=res://*/ModeloLQCE.csdl|res://*/ModeloLQCE.ssdl|res://*/ModeloLQCE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NACOR-LAPTOP\NACOR1\SQLEXPRESS;initial catalog=LQCE;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <LQCE.Transaccion.Properties.Settings>
      <setting name="DIR_CARGA_EXCEL" serializeAs="String">
        <value>D:\Proyectos\Personal\LQCE\CargasExcel\</value>
      </setting>
      <setting name="SP_WEB" serializeAs="String">
        <value>http://localhost:81</value>
      </setting>
      <setting name="SP_LIBRERIA_FACTURAS" serializeAs="String">
        <value>Facturas</value>
      </setting>
    </LQCE.Transaccion.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <!--Exception-->
    <add key="_appErro_EventLogName" value="App_Cometidos" />
    <add key="_appErro_ComputerName" value="." />
    <add key="_appErro_EntryName" value="App_Cometidos" />
    <add key="_appErro_PathFileLog" value="C:\SharePoint_Logs\LQCE_Log" />
    <add key="_appErro_CreateEventLog" value="False" />
    <add key="_appErro_CreateFileLog" value="True" />
    <add key="_appErro_AdminEmail" value="" />
    <add key="_appErro_Subject" value="Error App_Cometidos" />
    <add key="_appErro_SendMailOnError" value="False" />
    <!--Email-->
    <add key="_appMail_SmtpServer" value="192.1.1.59" />
    <add key="_appMail_SmtpPort" value="25" />
    <add key="_appMail_AuthenticationRequired" value="False" />
    <add key="_appMail_User" value="" />
    <add key="_appMail_Password" value="" />
    <add key="_appMail_Domain" value="" />
    <add key="_appMail_FromAddress" value="" />
    <!--Security-->
    <add key="_appSecu_pkey" value="c4m2t3d4s" />
    <add key="_appSecu_pIV" value="minecon" />
  </appSettings>
</configuration>