<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LQCEEntities" connectionString="metadata=res://*/ModeloLQCE.csdl|res://*/ModeloLQCE.ssdl|res://*/ModeloLQCE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=LQCE;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>