<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LQCEEntities" connectionString="metadata=res://*/ModeloLQCE.csdl|res://*/ModeloLQCE.ssdl|res://*/ModeloLQCE.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=VP\SQLEXPRESS2008R2;Initial Catalog=LQCE;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>