<?xml version="1.0" encoding="iso-8859-1"?>

<configuration>
  <system.runtime.remoting>
    <customErrors mode="Off" />
    <application>
      <client>
        <wellknown type="ISConfiguration, Everis.Infraestructura" url="tcp://wall-e:8011/ISConfiguration" />
        <wellknown type="ISEmail, Everis.Infraestructura" url="tcp://wall-e:8011/ISEmail" />
        <wellknown type="ISFile, Everis.Infraestructura" url="tcp://wall-e:8011/ISFile" />
      </client>
    </application>
  </system.runtime.remoting>
</configuration>