<?xml version="1.0" encoding="iso-8859-1"?>

<configuration>
  <system.runtime.remoting>
    <customErrors mode="Off"></customErrors>
    <application>
      <!--
			<lifetime
				leaseTime="1S"
				sponsorshipTimeOut="1S"
				renewOnCallTime="1S"
				leaseManagerPollTime="1S"
			/>
			-->
      <service>
        <!--
			SingleCall: Every incoming message is serviced by a new object instance.
			Singleton: Every incoming message is serviced by the same object instance.
			-->
        <!--Application Level-->
        <wellknown mode="SingleCall" type="ISConfiguration, Everis.Infraestructura" objectUri="ISConfiguration" />
        <wellknown mode="SingleCall" type="ISEmail, Everis.Infraestructura" objectUri="ISEmail" />
        <wellknown mode="SingleCall" type="ISFile, Everis.Infraestructura" uobjectUrirl="ISFile" />
        <wellknown mode="SingleCall" type="ISActiveDirectory, Everis.Infraestructura" objectUri="ISActiveDirectory" />
      </service>
      <channels>
        <channel out="tcp" port="8011" />
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>